{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-optional-chaining", { "loose": false }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    "@babel/plugin-proposal-do-expressions",
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ]{{#if_or unit e2e}},
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": [{{#if_eq runner karma}}
        "istanbul",{{/if_eq}}
        ["@babel/plugin-proposal-optional-chaining", { "loose": false }],
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
        "@babel/plugin-proposal-do-expressions",
        ["@babel/plugin-proposal-class-properties", { "loose": false }]
      ]
    }
  }{{/if_or}}
}
